<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
<title>Collab seeker</title>
<script src="../../static/js/jquery-3.1.0.min.js" />
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</head>
<body>
<div layout:fragment="content">

<div class="col-sm-12" id="results">
	<div class="page-header text-muted">
            <span th:text="${team}? 'Team' : 'No Team Found'">Team</span>
	</div>
</div>

<div class="row">
	<div class="col-sm-10">
		<h3><a href='' th:href="@{/team/{teamname} (teamname=${team.name})}" style="text-decoration: none;" th:text='${team.name}' >{{ team.title }}</a></h3><h4/>
		<form method="post" action="" th:action="@{/team/edit/{teamname} (teamname=${team.name})}" enctype="multipart/form-data" onsubmit="return validateForm();">
                    <br></br>
					<div class="form-group">
						<label for="aboutInput">Description</label>
						<textarea type="text" class="form-control" name="description" rows="12" placeholder="Your description here." th:inline="text">[[${team.description}]]
                                                </textarea>
                                        <br/>
                                                <label for="aboutInput">What kind of collaboration are you looking for?</label>
                                                <textarea type="text" class="form-control" name="collabdetails" rows="10" th:inline="text">[[${team.collabdetails}]]
                                                </textarea>
					</div>
                    
                    <!-- ALKAA TÄSTÄ -->
        
                                        <!--div class="form-group"-->
                                            <label>Collaboration categories</label>
                                              <div class="multi-field-wrapper">
                                                <div class="multi-fields">
                                                    <div th:each='tag : ${tags}'><div class="multi-field form-group">
                                                    <input type="text" class="form-control1" name="categories[]" th:value="${tag}"/>
                                                    
                                                    <a type="button" class="remove-field btn btn-default btn-xs">
                                                        <span class="glyphicon glyphicon-remove"></span></a>
                                                        </div></div>
                                                    <div class="multi-field form-group">
                                                    <input type="text" class="form-control1" name="categories[]"/>
                                                    
                                                    <a type="button" class="remove-field btn btn-default btn-xs">
                                                    <span class="glyphicon glyphicon-remove"></span></a>
                                                        </div>
                                                </div>
                                                  
                                              <button type="button" class="add-field btn btn-default">Add category</button>
                                            </div>
                                        <!--/div-->
                                        <!-- JA LOPPUU TÄHÄN -->
                                        
                                        <script>
                                            $('.multi-field-wrapper').each(function() {
                                            var $wrapper = $('.multi-fields', this);
                                            $(".add-field", $(this)).click(function(e) {
                                                $('.multi-field:last', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
                                            });
                                            $('.multi-field .remove-field', $wrapper).click(function() {
                                                if ($('.multi-field', $wrapper).length > 1)
                                                    $(this).parent('.multi-field').remove();
                                            });
                                        });
                                        </script>
                                        
                    
                                        <br></br>     
					<label for="emailInput">E-mail</label>
                                        
                                            <input type="text" class="form-control" name="email"  th:value="${team.email}">
                                            </input>
                                        
                                        <br></br>
                                        
					<label for="emailInput">Social Media</label>
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon2">https://www.facebook.com/</span>
						<input type="text" class="form-control" name="facebook" placeholder="Facebook Page" th:value="${team.facebook != null} ? ${team.facebook} : ''" value="{{ facebook }}" aria-describedby="sizing-addon2" />
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon2">https://twitter.com/</span>
						<input type="text" class="form-control" name="twitter" placeholder="Twitter Page" th:value="${team.twitter != null} ? ${team.twitter} : ''" value="{{ twitter }}" aria-describedby="sizing-addon2" />
					</div>
					
					<br/>
 
 <label for="changePassword">Change Password</label>
 <br></br>
  <br></br>
  
 <label>New Password</label>
 <input type="text" class="form-control" name="newPassword" id="newPassword">
 </input>
 <br></br> 
 
 <label for="confirmPassword">Confirm Password</label>
 <input type="text" class="form-control" name="confirmPassword" id="confirmPassword" onkeyup="checkPass(); return false" >
 </input>
 <span id="confirmMessage" class="confirmMessage"></span>
 <br></br>
 
 <script> function checkPass()
{
    //Store the password field objects into variables ...
    var newPassword = document.getElementById('newPassword');
    var confirmPassword = document.getElementById('confirmPassword');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(newPassword.value == confirmPassword.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        confirmPassword.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match!";
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        confirmPassword.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!";
        
    }
}
function validateForm() {
    var newPassword = document.getElementById('newPassword');
    var confirmPassword = document.getElementById('confirmPassword');
    if (newPassword.value != confirmPassword.value) {
        alert("Passwords must match");
        return false;
    }
}
 </script>

                                      
                                        
                                        
					<!--div class="form-group">
						<label for="tagsInput">Categories</label>
						
						<input type="text" class="form-control" name="tags" placeholder="Ex: modelling lab energy" th:value="${tags != null} ? ${tags} : ''" value="{% for tag in tags %}{{ tag }} {% endfor %}" />
					</div-->
                                        
                                                              
            <!--fieldset class="input-group">
                
                <label for="imageInput">Image </label>
                <div>
                                    
                <input id="fileopen" type="file" name="file" class="form-control-file" value="" accept="image/*" style="float: left"/>
                <a type="button" class="btn btn-default btn-xs" id="clear">
                <span class="glyphicon glyphicon-remove"></span> 
                </a>
                </div>
            </fieldset>
                <div>
                    <img th:if="${team.image != null}" src="" th:src="@{/team/images/{teamname} (teamname=${team.name})}" class="img-circle" />
                
                </div>
                <div>
                    <form method="post" th:action="@{/team/edit/images/{teamname} (teamname=${team.name})" id="form1" runat="server">
                            <input id="fileopen" type="file" name="file" class="form-control-file" value="" accept="image/*" style="float: left"/>
                            <img id="blah" src="#" alt="your image" /> 
                            <img th:if="${team.image != null}" src="#" th:src="@{/team/images/{teamname} (teamname=${team.name})}" class="img-circle" />
                    </form>
                </div-->
                                        
                                        
                                        <!--script>   
function readURL(input) {
    //if (input.files && input.files[0]) {
        //var reader = new FileReader();
      //  reader.onload = function (e) {
            //$('#blah').attr('src', e.target.result);
        //}
        //reader.readAsDataURL(input.files[0]);
   // }
//}
//$("#imgInp").change(function(){
    //readURL(this);
//});                              
 </script-->      
                                        
                                        <!--end of showing picture script-->
                                      
      
                        
        <script>
                        $("#clear").click(function () {
                        $("#fileopen").val("");
                        });
                        
        </script>
                                        <br/><br/>
					<input type="submit" class="btn btn-default" value="Submit" />
                                        
                                        <a type="button" class="btn btn-default" th:href="@{/team/{teamname} (teamname=${myteamname})}" >
                                        Cancel
                                        </a>
		
                </form>
	</div>
	
    
</div>
<br/>

</div>
</body>
</html>