<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
<title>Collab seeker</title>
</head>
<body>
<div layout:fragment="content">



<div class="col-sm-12" id="results">
	<div class="page-header text-muted">
	
		<span th:text="${team}? 'Team' : 'No Team Found'">Team</span>
	</div>
</div>

<div class="row">
	
	<div class="col-sm-10">
		<h3><a href='' th:href="@{/team/{teamname} (teamname=${team.name})}" style="text-decoration: none;" th:text='${team.name}'>{{ team.title }}</a></h3><h4/>
		<form method="post" action="" th:action="@{/team/edit/{teamname} (teamname=${team.name})}" enctype="multipart/form-data">
                    <br></br>
					<div class="form-group">
						<label for="aboutInput">Description</label>
						
						<input type="text" class="form-control" name="description" placeholder="Your description here." th:value="${team.description}" value="{{ about }}" />
					</div>
					
					<label for="emailInput">Social Media</label>
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon2">https://www.facebook.com/</span>
						<input type="text" class="form-control" name="facebook" placeholder="Facebook Page" th:value="${team.facebook != null} ? ${team.facebook} : ''" value="{{ facebook }}" aria-describedby="sizing-addon2" />
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon2">https://twitter.com/</span>
						<input type="text" class="form-control" name="twitter" placeholder="Twitter Page" th:value="${team.twitter != null} ? ${team.twitter} : ''" value="{{ twitter }}" aria-describedby="sizing-addon2" />
					</div>
					
					<br/>
					<div class="form-group">
						<label for="tagsInput">Categories</label>
						
						<input type="text" class="form-control" name="tags" placeholder="Ex: modelling lab energy" th:value="${tags != null} ? ${tags} : ''" value="{% for tag in tags %}{{ tag }} {% endfor %}" />
					</div>
					
					
                                        <fieldset class="input-group">
						<label for="imageInput">Image </label>
						<input type="file" class="form-control-file" name="file" accept="image/*"/>
                                                
   
					</fieldset>
                                        <br/><br/>
					<input type="submit" class="btn btn-default" value="Submit" />
		</form>
	</div>
	<div class="col-sm-2">
		
                <img th:if="${team.image != null}" src="" th:src="@{/team/images/{teamname} (teamname=${team.name})}" class="img-circle" />
	</div>
</div>
<br/>

</div>
</body>
</html>

