
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
<title>Collab seeker</title>
<script src="../../static/js/jquery-3.1.0.min.js" />
<style>
.morecontent span {
display: none;
}
.morelink {
display: block;
}

</style>
</head>
<body>
<div layout:fragment="content">
   
   
<div class="col-sm-12" id="results">
	<div class="page-header text-muted">
	
        <span th:text="${not #lists.isEmpty(teams)}? 'Results' : 'No Teams Found'">Results</span>
	</div>
</div>

<div th:each='team : ${teams}'>
<div class="row">
	<div class="col-sm-10">
		<h3><a href='' th:href="@{/team/{teamname} (teamname=${team.name})}" style="text-decoration: none;" th:text='${team.name}'>{{ team.title }}</a></h3><h4>
			<small class="text-muted" th:text='${team.description}'>{{ team.description.about }}</small>
                        
			<br/>
		</h4>
	</div>
	<div class="col-sm-2">
		
                <a class="pull-right" href="" th:href="@{/team/{teamname} (teamname=${team.name})}"><img th:if="${team.image != null}" src="" th:src="@{/team/images/{teamname} (teamname=${team.name})}" class="img-circle" /></a>
	</div>
</div>
<br/>
</div>
    
 <script>
       $(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 300;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more>";
    var lesstext = "Show less";
    

    $('.text-muted').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});

</script>   

<div class="row divider">
	 <div class="col-sm-12"><hr/></div>
</div>


<div class="col-sm-12" id="categories">
	<div class="page-header text-muted divider">
		Top Categories
                
	</div>
</div>


<div class="row">
	<div class="col-sm-4 text-center">
		<h4><a href="/?q=modelling" style="text-decoration: none;">modelling</a></h4>
		<a href="/?q=modelling"><img src="http://igem.org/wiki/images/3/3e/Icons_software.png" class="img-respsonsive img-circle" /></a>
	</div>
	<div class="col-sm-4 text-center">
		<h4><a href="/?q=lab" style="text-decoration: none;">lab</a></h4>
		<a href="/?q=lab"><img src="http://igem.org/wiki/images/0/0d/Icons_communitylabs.png" class="img-respsonsive img-circle" /></a>
	</div>
	<div class="col-sm-4 text-center">
		<h4><a href="/?q=survey" style="text-decoration: none;">survey</a></h4>
		<a href="/?q=survey"><img src="http://2014.igem.org/wiki/images/c/cc/Icons_policyandpractices.png" class="img-respsonsive img-circle" /></a>
	</div>
</div>

<div class="row divider">
	 <div class="col-sm-12"><hr/></div>
</div>

<div class="col-sm-12">
	<div class="page-header text-muted divider">
		Connect with Us
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<a href="https://twitter.com/collabseeker">Twitter</a> <small class="text-muted">|</small> <a href="https://www.facebook.com/CollabSeeker">Facebook</a>
	</div>
</div>

<hr/>

</div>
</body>
</html>