/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');


/* custom template */
html, body {
    height: 100%;
    font-family:'Open Sans',arial,sans-serif;
    /*font-family: 'Raleway-Light';*/
    font-size: 100%;
    background-color: #ADD8E6; /* ALKUPERÄINEN: #F0F3F6 */
    background-image: url("http://i.imgur.com/zdfZ4kH.png");
}

a {
  color:#222222;
}
/*----log-in----*/
/*----sign-in-box----*/
.text-box{
	border:1px solid #A4ADB5;
	position:relative;
	display:block;
        margin:1em 0 0.8em;
	opacity:0.6;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.text-box:hover{
	opacity:1;
}
.text-box label{
	width: 38px;
	height: 38px;
	display: inline-block;
	background: url(../images/s-icons.png) no-repeat 3px 1px;
	position: absolute;
	z-index: 999;
	
        
}
.text-box label.s-lock{
	background-position:3px -31px;
}
.text-box input[type="text"],input[type="password"]{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	position: relative;
	width: 100%;
	text-indent: 0px;
        /*text-indent: 40px;*/
	outline: none;
	padding: 0.5em;
	display: block;
}
.sign-in-box{
	background: #FFF;
	padding: 1.8em 1em 0.5em;
	margin: 2.5em 0;
        
}
.sign-in-box h2{
	font-family: 'Raleway-SemiBold';
	color: #475965;
	text-transform: uppercase;
	font-size: 1em;
	margin: 0;
	text-align: center;
}
.sign-in-box input[type="submit"]{
    
	background: #21B8C6;
	border: none;
	outline: none;
	color: #FFF;
	display: block;
	width: 100%;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
        
	font-family: 'Raleway-SemiBold';
	font-size: 0.99em;
        padding: 0.6em 0;
	text-transform: uppercase;
	cursor:pointer;
	 transition:0.5s all;
	 -webkit-transition:0.5s all;
	 -moz-transition:0.5s all;
	 -o-transition:0.5s all;
	 -ms-transition:0.5s all;
}
.sign-in-box input[type="submit"]:hover{
	background: #475965;
	color: #FFF;
}
.text-boxs{
	margin:2em 0;
}
.member-sign{
	font-size:0.875em;
	color:#7D8E9A;
}
.member-signup{
	font-size:1em;
	color:#7D8E9A;
	text-decoration:none;
	font-family: 'Raleway-SemiBold';
}
.member-signup:hover,.member-sign:hover{
	text-decoration:none;
	color:#21B8C6;
}
.not-member{
	margin:0.8em 0;
	text-align:center;
}
.member-signup span{
	width:16px;
	height:12px;
	display:inline-block;
	background:url(../images/arrow1.png) no-repeat 0px 0px;
}

.problems {
        color: #7D8E9A;
	font-size:0.875em;
	
	padding:0.5em 0;

	font-family: 'Raleway-SemiBold';
}

/*----copy-right---*/
.copy-right p{
	color: #7D8E9A;
	font-size:0.875em;
	text-align:right;
	padding:2em 0;
	text-transform:uppercase;
}
.copy-right p a{
	color:#475965;
	font-family: 'Raleway-SemiBold';
}
.copy-right p a:hover{
	text-decoration:none;
	color:#21B8C6;
}

/*---log-on-ends-here---*/

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
} 

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color:#42647F;
    background-image:url('../../static/images/nAVEpFe.png');
    background-size:cover;
    background-attachment:fixed;
}

.divider {
	margin-top:32px;
}

.buttondivider{
    margin-left:5px;
}


#main {
    background-color:#fefefe;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#sidebar, #sidebar a {
    color:#ffffff;
    background-color:transparent;
	text-shadow:1px 0 1px #888888;
}
#sidebar a.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#777777;
  height:40px;
  width:40px;
  margin:15px;
  font-size:26px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 0;
}
#sidebar-footer {
  position:absolute;bottom:5px;
}
#footer {
  margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;
  }
  #sidebar a.logo {
    font-size:50px;
    height:75px;
    width:75px;
    margin-bottom:30px;
  }
}




/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted description {
  font-family:courier,courier-new,monospace;
  
}

a:hover {
    color:#21B8C6;
}

